@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/src/assets/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Satoshi", sans-serif;
  background-color: var(--bg);
  color: var(--grey);
  padding: 20px;
  padding-top: 64px;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.3;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.4;
}

h4 {
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.5;
}

h5 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.6;
}

h6 {
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.7;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}
